fastapi
requests
uvicorn[standard]

numpy
pillow
opencv-python
pytesseract
pdf2image
scikit-image
chardet
PyMuPDF
keras-ocr
easyocr
ftfy
beautifulsoup4
pandas
openpyxl
xlrd
python-pptx
python-docx
python-multipart